<form class="post-form-actions" action="/delete_post/<%= post._id %>?_method=DELETE" method="POST">
    <button class="button-del" type="submit">Eliminar Publicación
      <svg class="delete-act" width="28px" height="28px" viewBox="0 0 48 48" fill="currentColor" x="217" y="217" role="img"
    xmlns="http://www.w3.org/2000/svg"><g fill="currentColor"><path fill="none" stroke="currentColor" 
       stroke-linecap="round" stroke-linejoin="round" d="M11.274 13.707h25.451V39.94a3.56 3.56 0 0 
       1-3.56 3.56h-18.33a3.56 3.56 0 0 1-3.56-3.56V13.707h0Zm19.679-6.138l-.89-3.069H17.937l-.89 3.069H9.328v6.138h29.344V7.569h-7.719z"/>
   </g>
   </svg>
    </button>
    
  </form>

<form class="post-form-actions" action="/edit-post/<%= post._id %>?_method=PUT" method="POST">
    
        <label for="">Título</label>
        <input name="title" type="text"><%- post.title %> />
        <label for="">Descripción</label>
        <input name="description" type="text"><%- post.description %> />
        <label for="">Contenido</label>
        <textarea name="body"><%- post.body %> </textarea>
        <input type="submit" value="Actualizar">
</form>